.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 48px;
    grid-row-gap: 64px;
}

/* Responsive Services */

@media (max-width: 1200px) {
    .services {
        grid-column-gap: 32px;
        grid-row-gap: 48px;
    }
}

@media (max-width: 992px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 32px;
    }
}

@media (max-width: 576px) {
    .services {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 28px;
    }
}

@media (max-width: 480px) {
    .services {
        grid-row-gap: 24px;
    }
}

@media (max-width: 375px) {
    .services {
        grid-row-gap: 20px;
    }
}